<table>
  <tr>
    <th>Name</th>
    <th>Race Number</th>
    <th>Rider Time</th>
  </tr>

<% @riders.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td><%= r.race_number %></td>
    <td>
      <% if r.start_time.nil? || r.finish_time.nil? %>
        <%= "Not Started Yet" %>
      <% else %>
        <%= ChronicDuration.output(r.rider_time) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>


